*{
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(0, 0, 0);
}

.overview-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 500px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 5rem;
}

h2{
    border-bottom: 1px dotted ;
    width: 100%;
    position: relative;
    height: 40px;
}

.overview-container .overview-text{
    position: absolute;
    text-align: center;
    top: 10rem;
    width: 100%;
    text-align: center;
    
}

#back{
    position: absolute;
    z-index: 2;
    height: 30px;
    color:white;
    background-color: rgb(246, 104, 104); border-radius: 10px;
    text-decoration: none;
    padding: 5px; margin: 5px;
    font-weight: bold;
}