*{
    margin: 0;
}

body{
    color:rgb(0, 0, 0);
    background-color: rgb(188, 105, 233);
}


/* 에러처리 */

.error{
    margin-top: 3rem;
    width: 90%;
    text-align: center;
    height: 600px;
    font-size: 3em ;
}


/* 모달창 */
.modal-container{
    position: fixed;
    top: 500px;
    width: 100%;  height: 500px;
    text-align:justify;
    line-height: 30px;
    background-color: rgb(255, 218, 137);
    display: none;
    font-size: 15px;
    border-radius: 15px;
    animation-name: modal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.modal-container .modal-box{
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;  padding-top: 0;
}


@keyframes modal {
    from { transform: translateY(200px); opacity: 0;}
    to {transform: translateY(0); opacity: 100%;}
}




/* 영화 검색 영역 */
.head-container{
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: gold;
    position:fixed;
    width: 99%;
    align-items: center;
}

.head-container h1 a{
    text-decoration: none;
    color:black;
    padding-left: 10px;
}

.head-container h1 a i{
    color:rgb(81, 110, 239);
    padding-right: 5px;
}

.head-container span{
    position: relative;
    top:3px;
    padding-right: 10px;
}

.head-container #search{
    width: 35vw;
    position: relative;
    right: 0.25rem;
    padding: 15px 15px 15px 15px; border-radius: 10px;
    margin-right: 18px;
}

.head-container #cate-btn{
    font-size: 1.5rem;
    display: flex;
    position: absolute;
    top:1.25rem;
    right: 1.5rem;
}

/* 드롭박스 카테고리 영역 */
.drop-box .category{
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: rgb(71, 66, 66);
    text-align: center;
    margin-right: 3rem;
    width: 100%;
    animation-name: drop; animation-duration: 0.5s; animation-timing-function: ease-in-out;
}

@keyframes drop {
    from { transform: translateX(50px); opacity: 0;}
    to {transform: translateX(0); opacity: 100%;}
}


.drop-box .category button{
    float: left;
    padding: 10px 15px 10px 10px;
    border: hidden;
    font-size: 1rem; font-weight: bold;
    background-color: gold;
}

.drop-box .category button:hover{
    color:rgb(220, 70, 70)
}

.head-container .category button:focus{
    color:brown;
    border-top-left-radius: 20px; border-bottom-right-radius: 20px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0);
    animation-name: slowline;  animation-duration: 0.3s;

    animation-timing-function: ease-in-out;
}

@keyframes slowline {
    0% {background-color: gold;}
    100% {background-color: rgb(255, 255, 255);}
    
}
    


/* 영화 영역 공통 */
.main-popular {
    padding-top: 95px;
    height: 100vh;
    padding-left: 10px;
    background-color: rgb(188, 105, 233);
    margin-left: 35px;
    z-index: 1;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
}
.main-container .main-img{
    padding: 15px;
    
}
.main-container .main-img img{
    background-image: url(./다운로드.png);
    align-items: center;
    text-align: center;
    background-size: cover;
    height: 350px;
    width: 380px;
}

.main-container .main-img #title{
    font-weight: bold;
}



.main-img .title{
    text-align: center;
}


/* 최신영화 */
.main-recent{
    background-color: rgb(0, 0, 0);
    color:white;
}

/* 한국영화 */


/* 외국영화 */
.main-foreign{
    background-color: rgb(0, 0, 0);
    color:white;
}




/* 영화 메인 세부소개 영역 */
.main-detail{
    display: flex;
    padding-top: 10rem;
    justify-content: center;
    margin-bottom: 60px;
}

.main-detail h1{
    position: relative;
    width: 50px;
    top:-4rem
}

.main-detail .content-img{
    width: 50%;
    text-align: center;
}
.main-detail .content-img #movie-img{
    background-color: burlywood;
    width: 85%;  height: 600px;
    background-size: cover;
    border-radius: 20px;
}

.main-detail .movie-content{
    background-color: rgb(225, 193, 228);
    border-radius: 20px;
    line-height: 70px;
    padding-top: 5rem; padding-left: 1rem;
    width: 40%;
}

/* 모달창(영화 세부 내용) */

.modal{
    width: 100%;
    height:300px;
    background-color: brown;
    width: 100vw;
    position: absolute;
    top:100vh;
}







/* 미디어 쿼리 */


@media (max-width:1099px) {

 /* 드롭박스 카테고리 영역 */
.drop-box .category{
    font-size: 20px;
    font-weight: bold;
    color: rgb(71, 66, 66);
    text-align: center;
    position: absolute;
    right: -30px;
    display: none;
    flex-direction: column;
    top:4.95rem;
    width: 100%;
    padding-left: 50px;
    border: none; border-radius: none;
    animation-name: drop; animation-duration: 0.5s; animation-timing-function: ease-in-out;
}

@keyframes drop {
    from { transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(0); opacity: 100%;}
}

.head-container #cate-btn{
    font-size: 2.1rem;
    display: flex;
    position: absolute;
    right: 3rem;
    top:15px;
}

.drop-box .category button{
    float: left;
    padding: 10px 15px 10px 10px;
    border: hidden;
    font-size: 1rem; font-weight: bold;
    background-color: gold;
}

.drop-box .category button:hover{
    background-color: rgb(238, 238, 184);
    color:rgb(220, 70, 70)
}

.head-container .category button:focus{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-top-left-radius: 0; border-bottom-right-radius: 0;
    border-radius: 5px;
    border-top: 1px solid black;
}
    

.head-container .search-box #search{
    padding: 15px 15px 15px 15px; border-radius: 10px;
    width: 250px;
    margin-right: 25px;
}
    
}

@media (max-width:723px) {
.head-container span{
    display: none;
}

}


@media (max-width:685px) {
.head-container #search{
    left: -30px;
    }

.main-img{
    margin-left: -25px;
}

.head-container h1{
    font-size: 25px;
    }
}
